{% extends 'base.html.twig' %}

{% block body %}


<div class="jumbotron text-center">

<h1> Bienvenue sur SicilyLines </h1>
<p>    Nous sommes 1 entreprise qui kdjgn  dfkljgnl dfngldjgndk ljgndlgn dlngdlg dnldnk </p>
<h4> <strong>Connexion</strong> 
<form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>

</h4>

</div>
{% endblock %}
